<div section="parallax" id="welcomeDiv">

  <!-- <img src="../images/newCastleTurn1_001.jpg" alt=""> -->

  <div class="parallax-inner" id=welcomeInfo>




  </div>

</div>

<div class="contentMedian">

  <div class="" id="siteNavSelect">

    <a href="/#!/kartrentals">Rental Karts</a>
    <a href="/#!/kartowners">Kart Owners</a>

  </div>


</div>

<div section="parallax" id="eventDiv">

  <div class="parallax-inner" id="eventInfo">

    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>
    <h1>Event</h1>


  </div>

</div>
