<div class="" id="adminLoginPage">


  <div class="" id="loginDisplay">

    <p>
      Welcome, </br>
      If you are an Admin, please enter your account info here. If not, please don't waste your time. </br>
      Thankyou :)
    </p>

    <div class="inputLine">

      <p>Username</p>
      <input type="text" name="" value="" ng-model="usernameInput">

    </div>

    <div class="inputLine">

      <p>Password</p>
      <input type="text" name="" value="" ng-model="passwordInput">

    </div>

  </div>

</div>
