<h1>Events</h1>


<div class="" id="calendarDiv">


  <div class="" id="calendarNav">
    <div class="" id="selectedDayDiv" ng-if="selectedObject">

      <div ng-repeat="object in selectedObject.events" >

        <h3>{{object.name}}</h3>

        <h3>{{object.date}}</h3>

        {{object.description}}

      </div>

    </div>

    <div class="" id="monthDisplay">

      <h3>{{ selectedMonth_text }} {{ selectedYear }}</h3>

      <nav>

        <button type="button" name="button" ng-click="prevMonth()"><</button>
        <button type="button" name="button" ng-click="nextMonth()">></button>

      </nav>

    </div>


  </div>



  <ul class=""id="calendarHeader">
    <li>SUN</li>
    <li>MON</li>
    <li>TUE</li>
    <li>WED</li>
    <li>THU</li>
    <li>FRI</li>
    <li>SAT</li>
  </ul>
  <div class=""id="calendarView">

    <div class="calendarCell{{day.curMonth}}" ng-repeat="day in month_events track by $index" ng-click="selectDay(day)">

      {{ day.date }}

      <div class="eventCell" ng-repeat="event in day.events" style="background:{{event.color}}">

        {{event.name}}

      </div>

    </div>

  </div>

</div>
