<div section="parallax" id="ownersPage">

  <div class="parallax-inner" id="ownersPageInfo">

    <h1>Kart Owners</h1>

  </div>


</div>
<div class="contentDiv" id="ownersContentDiv">

  <div class="textContainer">

    <h3>Own your own kart?</h3>

    <p>
      New Castle Motorsports Park is located an hour from Indianapolis, and is directly off of I-70.
    </p>
    <p>
      NCMP's state of the art track hosts a variety of layouts, with the normal layout being 1.0 miles long. The track sees a
    </br>
      number of national races, and also has its own very competetive and fun local series.
    </p>
    <p>
      Ready to join us? If you own a kart, you can come join us during any open practice or race weekend!
    </p>

  </div>

</div>
<div section="parallax" id="pricesPar">

  <div class="parallax-inner" id="pricesParInfo">

    <h3>
      KRA Series Entry Fees
    </h3>

    <h4>
      Pre-Entries
    </h4>

    <p>
      NCMP offers 2-day pit passes for karters competing in the KRA Series who would like to practice with us on Saturday and race with us on Sunday. If you plan to practice on Saturday there is no need to include a pit pass on your pre-entry form since you can pick up a 2-day pass on Saturday (or Friday for a Saturday race). All rates are listed below. In doing this we will be able to lower the price $2.00 for a racer or a crewmember who plans on being at our facility for 2 days.
    </p>

    <p>
      Once again this does not raise the price of a race day entry and it actually lowers the price if you plan on spending 2 days at our facility.
    </p>

    <p>
      Due to insurance requirements, all crew members must have a pit pass in the trailer area, garage area or anywhere in the pit area during practice or racedays. Anyone caught without a pitpass will be asked to leave immediately. Pit passes on practice days are $12.00 per person for anyone over the age of 5. Kids 5 and under are free but MUST be signed in and have a pit pass.
    </p>

    <ul>

      <li>
        <h5>Practice Passes</h5>
        <ul>
          <li>KRA Members: <b><b>$27.00</b></b></li>
          <li>Non Members: <b>$32.00</b></li>
        </ul>
      </li>

      <li>
        <h5>Pit Passes</h5>
        <ul>
          <li>1-Day: <b>$12.00</b></li>
          <li>2-Day: <b>$22.00</b></li>
        </ul>
      </li>

      <li>
        <h5>Pre-Entries (Pit Passes NOT Included)</h5>
        <ul>
          <li>Adult/Junior: <b>$40.00</b> for First Entry, <b>$35.00</b> for Additional Classes</li>
          <li>Kid Kart: <b>$30.00</b></li>
        </ul>
      </li>

      <li>
        <h5>Race Day Entries (Pit Passes NOT Included)</h5>
        <ul>
          <li>Per Class: <b>$45.00</b></li>
          <li>Kid Kart Class: <b>$30.00</b></li>
        </ul>
      </li>

    </ul>

    <p>Additional Pit Passes are <b>$12.00</b> each</p>

    <p>Children 5 and Under are Free</p>

    <p>Transponder Rental: <b>$16.05</b> (Plus Tax)</p>

    <h3>Practice Hours</h3>
    <ul>
      <li>Open: Tuesday-Sunday, 10am-7pm</li>
      <li>Closed Monday</li>
    </ul>

    <h4>Kid Kart Practice</h4>
    <ul>
      <li>Wednesday: 4pm-7pm</li>
      <li>Weekends (If Open Practice Is Available): 12:30pm-1:30pm & 3pm-3:45pm</li>
    </ul>

    <h4>Paved Oval Practice at NCMP</h4>
    <p>
      The paved oval at NCMP does not have set practice hours. If you are interested in practicing on the oval please contact us to setup a date and time, otherwise we will not guarantee the oval track will be available. If you are a club or organization that wishes to rent the oval track for an event, please contact us.
    </p>

    <p>
      *NCMP will not be available for open practice on racedays and we also have corporate events that will close the track at times. Please check the schedule and the homepage. If in doubt you are always welcome to contact us for clarification and availability.
    </p>

  </div>

</div>

<div class="contentDiv" id="practiceRulesDiv">

  <div class="textContainer">

    <h3>Practice Rules</h3>

    <ul>
      <li>
        *Airboxes MANDATORY for all Two Cycles and Shifters
      </li>
      <li>
        *RLV Exhaust Mufflers MANDATORY for all Four Cycle Engines
      </li>
      <li>
        *Snell 2010 or Better Helmet, Abrasion Resistant Jacket or Suit/Neckcollar/Gloves are Mandatory at all Times
      </li>
      <li>
        *Racing Karts Only, No Yard/Fun Karts Allowed, NCMP reserves the right to deny track admission to any kart not deemed proper
      </li>
      <li>
        *All Lead Weights must be cotter keyed and all brakes and steering bolts/nuts
      </li>
      <li>
        *Junior Drivers Ages 5-12 Must Use an SFI Approved Ribvest at All Times While On Track
      </li>
      <li>
        *All MINORS must have MINOR RELEASE on file and signed by Parent/Legal Guardian before they can be allowed to practice or race. NO EXCEPTIONS. (Form Available at Track) Make sure you take care of this ahead of time!
      </li>
    </ul>

  </div>

</div>

<div section="parallax" id="pitSpotPar">

  <div class="parallax-inner" id="pitSpotParInfo">

    <h3>KRA Reserved Pit Spaces</h3>

    <p>
      Reserved Pit Spots for KRA MEMBERS for the Kart Racers of America Series are available for <b>$135.00</b> for the year (64ft x 15ft each). You can send your request with your membership application or you can send a check for pit spots seperately or use a credit card. If you wish to have more than one pit spot, each additional spot is <b>$135.00</b> per year.
    </p>
    <p>
      Non KRA Members can reserve pitspots for the KRA Series for <b>$180.00</b> per spot per year.
    </p>
    <p>
      Camper spots are available with electrical hookups for <b>$35.00</b> per day. Showers are also available on site. Camper spots for the KRA Race Series are available for <b>$350.00</b> a season, this covers race days only.
    </p>

  </div>

</div>
