<div section="parallax" id="ownersPage">

  <div class="parallax-inner" id="ownersPageInfo">

    <h1>Kart Owners</h1>

  </div>


</div>
<div class="contentDiv" id="ownersPageMedian001">

  <div class="textContainer">

    <h3>Own your own kart?</h3>

    <p>
      New Castle Motorsports Park is located an hour from Indianapolis, and is directly off of I-70.
    </p>
    <p>
      NCMP's state of the art track hosts a variety of layouts, with the normal layout being 1.0 miles long. The track sees a
    </br>
      number of national races, and also has its own very competetive and fun local series.
    </p>
    <p>
      Ready to join us? If you own a kart, you can come join us during any open practice or race weekend!
    </p>

  </div>

</div>
<div section="parallax" id="pricesPar">

  <div class="parallax-inner" id="pricesParInfo">

    <h4>Fees</h4>
    <ul>
      <li>KRA Members - $27.00</li>
      <li>Non Members - $32.00</li>
    </ul>

  </div>

</div>
