<div section="parallax" id="rentalHeader">

  <div class="parallax-inner" id="rentalHeaderInfo">

    <h1>Rental Karts</h1>


  </div>


</div>

<div class="contentDiv" id="kartRentalInfoDiv">

  <h3>Do we have rentals?</h3>
  <p>Answer is yes! The rental karts are normally available daily from 10am to 7pm (NCMP is closed on Mondays), please call ahead to make sure we do not have a corporate event or major karting event as the karts will not be available during that time. We have helmets and jackets available, full length pants and closed toe shoes are required. All drivers must be 14 years or older, anyone under 18 must have a parent present to sign parental release form.</p>

  <h4>Rental Kart Prices</h4>

  <ul>
    <li>$25.00 for 10 minutes, $1.00 each additional minute</li>
    <li>$65.00 for 1 hour</li>
  </ul>
</div>

<div section='parallax' id='corporateInfoDiv'>

  <div class="parallax-inner" id='corporateInfo'>

    <h3>Corporate Events</h3>
    <p>
      NCMP offers team building Corporate Events. NCMP can offer a complete racing program with live scoring and more, complete catering from steaks to hot dogs or we can offer a simple program with just open practice or a quick race event. NCMP has hosted corporate events for Fortune 500 companies to small businesses to bachelor parties. NCMP can tailor your event to your needs and budget. We can also provide alcohol after your event including beer, wine, and mixed drinks. Call or email Mike Adams at 765-987-8090 for pricing and availability.
    </p>
  </div>

</div>
